[[language]]
name = "python"
language-servers = ["basedpyright", "ruff"]
auto-format = true

[language-server.basedpyright]
command = "basedpyright-langserver"
args = ["--stdio", "--pythonpath", "~/.local/bin/python"]

[language-server.ruff]
command = "uv"
args = ["run", "ruff", "server"]

[[language]]
name = "typst"
language-servers = ["tinymist"]

[language-server.tinymist]
command = "tinymist"
